@use 'typography' as *;

html {
  background-color: $brown;
  font-family: $roboto;
  color: $white;
}

body {
  width: 100vw;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  color: $white;
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
}

img {
  width: 100%;
}

button {
  background-color: $darkBrown;
  color: $white;
  border: none;
  padding: 15px;
}

button {
  @include typography($petitFormalScript, 400, 2.5rem);
  text-align: center;
  line-height: 2.9rem;
}

footer nav {
  @include typography($roboto, 400, 2rem);
}

body {
  @include typography($roboto, 300, 2rem);
  line-height: 2.9rem;
  letter-spacing: 0.02rem;
}
