header {
  .container {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    .text-container {
      margin: auto 0;
      span {
        display: block;
      }
    }
    .img-container {
      img {
        width: 100%;
      }
    }
    .icon-container {
      display: flex;
      align-items: flex-end;
      ul {
        display: flex;
        gap: 5px;
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    .container {
      flex-direction: column;
      h1 {
        font-size: 6rem;
      }
      .img-container {
        transform: translateX(-90px);
      }
      .icon-container {
        display: none;
      }
    }
  }
}

@media (max-width: 480px) {
}
