@use 'typography' as *;

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  @include typography($petitFormalScript, 400, 9rem);
  text-align: end;
  line-height: 9.43rem;
}

h2 {
  @include typography($petitFormalScript, 400, 5.4rem);
  line-height: 5.6rem;
}

h3 {
  @include typography($petitFormalScript, 400, 4.5rem);
  line-height: 4.7rem;
}
