@use 'typography' as *;

#navbar {
  ul {
    display: flex;
    text-align: end;
    li {
      padding: 10px 15px;
    }
  }
}

#navbar label,
#hamburger {
  cursor: pointer;
  display: none;
  text-align: end;
}

@media (max-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul {
      flex-direction: column;
    }
    label {
      padding-top: 10px;
      display: block;
    }
  }

  // toggle show/hide menu
  #navbar ul {
    margin-right: 5px;
    background-color: $hardRed;
    position: absolute;
    right: 0;
    transform: translateX(125px);
    transition: transform 0.5s ease-in-out;
  }

  #navbar input:checked ~ ul {
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
  }
}
