.trends {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 1400px;
  margin: 0 auto;
  .trend {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    .text-container {
      margin: 25px;
    }
    .img-container {
      height: 100%;
      img {
        object-fit: cover;
        height: 100%;
        vertical-align: top;
      }
    }
  }
  .trend-1 .img-container {
    order: 2;
  }
}

@media (max-width: 768px) {
  .trends {
    .trend {
      grid-template-columns: 1fr;
      .text-container {
        padding: 25px 15px 0 15px;
      }
    }
    .trend-1 .img-container {
      order: -1;
    }
  }
}
